:root {
  /* main colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* neutral colors */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* gradients */
  --gradient-primary: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-secondary: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  height: 100%;
}

main {
  background: url('./images/bg-pattern-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--gradient-secondary);
}

header {
  padding: 2rem;
}

header > img {
  height: 1.3rem;
}

article {
  text-align: center;
  font-family: "Josefin Sans", "sans-serif";
  padding: 4rem 1.9rem;
}

article h1 {
  display: block;
  width: min-content;
  font-size: 2.3rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  margin: 0 auto;
  line-height: 2.5rem;
  color: var(--dark-grayish-red);
}

article::first-line {
  font-weight: 300;
  color: var(--desaturated-red);
}

article p {
  font-size: 0.875rem;
  color: var(--desaturated-red);
  line-height: 1.4rem;
  margin: 1rem 0 1.4rem;
}

form {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: 1px solid var(--desaturated-red);
}

form input {
  flex-grow: 2;
  border: none;
  margin: 1rem;
  padding-left:0.6rem;
  background-color: transparent;
}

form input:focus-visible {
  border: none;
}

form input::placeholder {
  font-family: "Josefin Sans", "sans-serif";
  color: var(--desaturated-red);
  opacity: 60%;
}

form button {
  height: 100%;
  border-radius: 2rem;
  border: none;
  background: var(--gradient-secondary);
  padding: 1.1rem 1.8rem;
  align-self: center;
}

.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
  width: 100%;
}

@media (min-width: 1080px) {
  body {
    display: flex;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }

  main > header, main > article {
    width: 50%;
    margin-left: 0px;
  }

  header {
    order: 1;
  }

  header > img {
    height: initial;
  }

  picture {
    order: 3;
    align-self: flex-end;
    /* margin-left: auto; */
  }

  picture > img {
    height: 100vh;
  }

  article {
    order: 2;
    text-align: left;
  }

  article h1 {
    margin: 0;
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 5.2rem;
  }

  article p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 1.4rem 0 3rem 0;
  }

  form input {
    font-size: 1rem;
  }

  form button {
    padding: 1.1rem 2.4rem;
  }

  header, article {
    width: 50%;
    align-self: center;
  }

  .desktop-img {
    display: block;
    height: 100vh;
  }

  .mobile-img {
    display: none;
  }
}
