:root {
  /* main colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* neutral colors */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* gradients */
  --gradient-primary: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-secondary: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  min-height: 100vh;
}

main {
  min-height: 100vh;
  background-image: var(--gradient-primary);
}

header {
  padding: 1.938rem 2rem;
}

header > img {
  height: 1.313rem;
}

.hero-img {
  width: 100%;
}

.hero-img > img {
  width: 100%;
}

article {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin: 4rem auto 0;
}

article > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  width: min-content;
  margin: auto auto;
  letter-spacing: 0.677rem;
  line-height: 2.625rem;
}

article > h1::first-line {
  color: var(--desaturated-red);
  font-weight: 300;
}

article > p, form > input::placeholder {
  color: var(--desaturated-red);
  font-weight: 300;
}

article > p {
  margin: 1rem 0 2rem;
}

article > p, form {
  margin-left: 2rem;
  margin-right: 2rem;
}

form {
  display: flex;
  height: 3rem;
  justify-content: center;
  border: 1px solid var(--desaturated-red);
  border-radius: 2rem;
}

form > input {
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0 1.5rem;
}

form > button {
  border-radius: 2rem;
  background-image: var(--gradient-secondary);
  border: none;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 23%;
  height: 100%;
  box-shadow: 0 0.5rem 25px 1px var(--desaturated-red);
}

.error-icon {
  height: 50%;
  align-self: center;
  text-align: left;
  margin: 1rem;
  display: none;
}

.error-alert {
  line-height: 1.75rem;
  color: var(--soft-red);
  display: none;
}

@media (min-width: 1024px) {
  body {
    height: 100vh;
  }

  main {
    display: grid;
    grid-template: auto 100vh / 57% 43%;
    max-height: 100vh;
    overflow-y: hidden;

    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 57% 100vh;
  }

  header {
    margin: 4.563rem 0 8.5rem;
    margin-left: 20%;
  }

  header > img {
    height: initial;
  }

  .hero-img {
    display: inline-block;
    grid-area: 1 / 2 / span 2 / auto;
  }

  .hero-img > img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

  article {
    width: 54%;
    margin: 0 0 0 20%;
    word-wrap: normal;
    text-align: left;
  }

  article > h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0 0 0 2rem;
    letter-spacing: 1rem;
  }

  article > p {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  form {
    display: flex;
    height: 3.375rem;
    padding-left: 2rem;
    margin: 2.5rem 0 0;
  }

  form > input {
    padding: 0;
  }

  form > input:focus-visible {
    outline-width: 0;
  }

  .error-alert {
    margin-left: 2rem
  }
}